HOST=127.0.0.1
PORT=5001
MODEL_NAME=facebook/bart-large-cnn
DEVICE=auto
HF_HOME=.model_cache
LOCAL_FILES_ONLY=false
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
MAX_DOCUMENT_CHARS=60000
MAX_DOCUMENT_TOKENS=20000
